* {
  font-family: 'Quicksand', sans-serif;
}

/* categories */

.Categories {
  background-color: #f7f7f7;
}

.categories_title h6 {
  color: red;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  font-family: 'Pacifico', cursive;
  display: block;
}

.categories_title h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  display: block;
}

.categories_content {
  display: flex;
  justify-content: center;
}

.categories_content .row {
  display: flex;
  justify-content: center;
  gap: 30px 0;
  margin-top: 20px;
}

.categories_content .card {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 16px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  cursor: pointer;
}

.categories_content .card-img {
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s;
  backface-visibility: hidden;
}

.categories_content .card-img:hover {
  opacity: 0.9;
}

.categories_content .card-img::after {
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: "";
}

.categories_content .card-info {
  position: absolute;
  bottom: 20px;
  left: 40px;

}

.categories_content .card-info h4 {
  cursor: pointer;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.categories_content .card-info span {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  opacity: 0.9;
  line-height: 25px;
}

/* services */
.Services {
  position: relative;
}

.Services .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.Services .container row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Services .box-wrap {
  padding: 40px 40px;
  border-radius: 8px;
  border: 1px solid#eee;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.03) 0 25px 98px 0;
}

.Services .box-wrap:hover span {
  transition: all 0.5s;
  background-color: #ff6600;
  color: white;
}

.Services .box-wrap:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Services .box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.Services .icon span {
  font-size: 25px;
  line-height: 70px;
  width: 70px;
  text-align: center;
  color: #ff6600;
  background-color: rgba(130, 115, 252, .05);
  border-radius: 8px;
}

.Services .info p {
  margin: 0;
}

.Services .info h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
}

.Services .info h4:hover {
  color: #ff6600;
  cursor: pointer;
  transition: 1s;
}

/* middle */
.middle{
  position:relative;
}
.middle-img {
  width: 100%;
  height: 65vh;
  background-image: url(./image/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}

.middle-img::before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.wellcom{
  display:inline-block;
  width: 600px;
  text-align: center;
}

.wellcom h3 {
  padding: 0 48px;
  margin: 0;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}

.container .btn-white{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin: 48px 24px 0 0;
}
.container .btn-white:hover{
  background:#fff;
  color:#ff6600;
}

.container .btn-orange{
  background:#ff6600;
  color:#fff;
}
.container .btn-orange:hover{
  opacity: 0.7;
}
.container .btn-orange, .btn-white{
  display:inline-block;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s;
  border-radius: 8px;
  cursor: pointer;
}
.container .span fa{
  font-size: inherit;
}

/* count */
.container .item{
  text-align: center;
  padding: 0 20px;
}

.container .counter{
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  background-color: white;
  width: 100%;
}
.container .counter:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-10px);
  transition: 0.7s;
}
.container .icon span{
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.container .item{
  width: 25%;
}
.container .item h3{
  font-size: 40px;
  font-weight: 600;
  color:#232121;
  margin-top: 20px;
}
.container .item p{
  font-weight: 600;
}
.w3_stats {
  position:absolute;
  top: 80%;
  width: 100%;
}
@media screen and (max-width:990px) {
  .w3_stats {
      position: unset;
  }
  section.w3-stats .container {
      padding-top: 30px;
  }
}