* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

p {
  color: rgba(22, 28, 45, 0.7);
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left a {
  font-size: 2.3rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header__right > * {
  margin-right: 25px;
}

.search__box input {
  padding: 8px 30px 8px 8px;
  border-radius: 5px;
  border: none;
}

.search__box input:focus {
  outline: none;
}

.header__right .search__box i {
  color: black;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.header__right .darkmode i {
  color: white;
  padding-top: 5px;
}

.header__right .show button {
  background: transparent;
  border: none;
  color: white;
  padding-top: 5px;
}

/* navigation */
.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  /* z-index an back to top */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.nav__overlay.active {
  visibility: visible;
  opacity: 1;
}

.nav__content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav__content ul {
  list-style: none;
}

.nav__content a {
  display: block;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.nav__content a:hover {
  color: #ff6600;
}

.nav__content button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background-color: #ff6600;
  border-radius: 5px;
  border: none;
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 15px;
}

/* start banner */
.banner {
  height: 700px;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./image/banner1.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.banner__content {
  max-width: 600px;
}

.banner__content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
}

.banner__content a {
  display: inline-block;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  padding: 18px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

.banner__content a:hover {
  background: white;
  color: #ff6600;
}

/* start about */

.about__text {
  font-size: 18px;
  line-height: 28px;
  padding-left: 10px;
}

.about__title h6 {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.about__title h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
}

/* start service */

.service {
  background-color: #ff6600;
}

.row {
  height: 100%;
}

.left__content {
  padding: 0;
  position: relative;
}

.left__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.left__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.content__container {
  padding-top: 70px;
}

.right__content .content__container {
  height: 100%;
}

.right__content .content__container h6 {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 20px;
}

.right__content .content__container h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}

.right__content p {
  color: #ffdfc9;
  font-size: 18px;
}

.right__content .best__content a {
  text-decoration: none;
  color: #232121;
  font-weight: 600;
  font-size: 22px;
  display: block;
}

.best__content p {
  margin-top: 10px;
}

/* best */

/* icon hover */
.best__content > *:hover span {
  color: #ffc600;
  transition: 0.4s;
}

.icon {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.icon span {
  line-height: 70px;
  color: #ff6600;
  font-size: 24px;
  font-weight: 900;
}

/* end service */

/* back to top css */

.backToTop {
  position: fixed;
  bottom: 40px;
  right: 30px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  background-color: #ff6600;
}

.backToTop i {
  color: white;
}

@media screen and (max-width: 480px) {
  .banner__content a {
    padding: 10px 25px;
  }
  .banner__content h3 {
    font-size: 2rem;
    line-height: normal;
  }
}

@media screen and (max-width: 992px) {
  .banner__content h3.text-white {
    font-size: 44px;
  }

  .left__content {
    min-height: 250px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .right__content .content__container {
    padding: 30px;
  }

  .right__content .content__container h3 {
    font-size: 27px;
  }
  .right__content .content__container p {
    font-size: 16px;
  }
}
