* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

p {
  color: rgba(22, 28, 45, 0.7);
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left a {
  font-size: 2.3rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header__right > * {
  margin-right: 25px;
}

.search__box input {
  padding: 8px 30px 8px 8px;
  border-radius: 5px;
  border: none;
}

.search__box input:focus {
  outline: none;
}

.header__right .search__box i {
  color: black;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.header__right .darkmode i {
  color: white;
  padding-top: 5px;
}

.header__right .show button {
  background: transparent;
  border: none;
  color: white;
  padding-top: 5px;
}

/* darkmode start */
/* setting button start */
.darkmode button {
  background: transparent;
  border: none;
}

.darkmode .light-mode-option {
  display: none;
}

.darkmode button.active .light-mode-option {
  display: inline;
}
.darkmode button.active .dark-mode-option {
  display: inline;
}
/* setting button end */

/* darkmode end */

/* navigation */
.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  /* z-index an back to top */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.nav__overlay.active {
  visibility: visible;
  opacity: 1;
}

.nav__content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav__content ul {
  list-style: none;
}

.nav__content a {
  display: block;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.nav__content a:hover {
  color: #ff6600;
}

.nav__content button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background-color: #ff6600;
  border-radius: 5px;
  border: none;
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 15px;
}

/* start banner */
.banner {
  height: 700px;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./image/banner1.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.banner__content {
  max-width: 600px;
}

.banner__content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
}

.banner__content a {
  display: inline-block;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  padding: 18px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

.banner__content a:hover {
  background: white;
  color: #ff6600;
}

/* start about */

.about__text {
  font-size: 18px;
  line-height: 28px;
  padding-left: 10px;
}

.about__title h6 {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.about__title h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
}

/* start service */

.service {
  background-color: #ff6600;
}

section.service .row {
  height: 100%;
}

.left__content {
  padding: 0;
  position: relative;
}

.left__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.left__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.content__container {
  padding-top: 70px;
}

.right__content .content__container {
  height: 100%;
}

.right__content .content__container h6 {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 20px;
}

.right__content .content__container h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}

.right__content p {
  color: #ffdfc9;
  font-size: 18px;
}

.right__content .best__content a {
  text-decoration: none;
  color: #232121;
  font-weight: 600;
  font-size: 22px;
  display: block;
}

.best__content p {
  margin-top: 10px;
}

/* best */

/* icon hover */
.best__content > *:hover span {
  color: #ffc600;
  transition: 0.4s;
}

.icon {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.icon span {
  line-height: 70px;
  color: #ff6600;
  font-size: 24px;
  font-weight: 900;
}

/* end service */

/* back to top css */

.backToTop {
  position: fixed;
  z-index: 1;
  bottom: 40px;
  right: 30px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  background-color: #ff6600;
}

.backToTop i {
  color: white;
}

@media screen and (max-width: 480px) {
  .banner__content a {
    padding: 10px 25px;
  }
  .banner__content h3 {
    font-size: 2rem;
    line-height: normal;
  }
}

@media screen and (max-width: 992px) {
  .banner__content h3.text-white {
    font-size: 44px;
  }

  .left__content {
    min-height: 250px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .right__content .content__container {
    padding: 30px;
  }

  .right__content .content__container h3 {
    font-size: 27px;
  }
  .right__content .content__container p {
    font-size: 16px;
  }
}

/* ------- quynh css -------- */

/* categories */

.Categories {
  background-color: #f7f7f7;
}

.categories_title h6 {
  color: red;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Pacifico", cursive;
  display: block;
}

.categories_title h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  display: block;
}

.categories_content {
  display: flex;
  justify-content: center;
}

.categories_content .row {
  display: flex;
  justify-content: center;
  gap: 30px 0;
  margin-top: 20px;
}

.categories_content .card {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 16px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  cursor: pointer;
}

.categories_content .card-img {
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s;
  backface-visibility: hidden;
}

.categories_content .card-img:hover {
  opacity: 0.9;
}

.categories_content .card-img::after {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: "";
}

.categories_content .card-info {
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.categories_content .card-info h4 {
  cursor: pointer;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.categories_content .card-info span {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  opacity: 0.9;
  line-height: 25px;
}

/* services */
.Services {
  position: relative;
}

.Services .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.Services .container row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Services .box-wrap {
  padding: 40px 40px;
  border-radius: 8px;
  border: 1px solid#eee;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.03) 0 25px 98px 0;
}

.Services .box-wrap:hover span {
  transition: all 0.5s;
  background-color: #ff6600;
  color: white;
}

.Services .box-wrap:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Services .box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.Services .icon span {
  font-size: 25px;
  line-height: 70px;
  width: 70px;
  text-align: center;
  color: #ff6600;
  background-color: rgba(130, 115, 252, 0.05);
  border-radius: 8px;
}

.Services .info p {
  margin: 0;
}

.Services .info h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
}

.Services .info h4:hover {
  color: #ff6600;
  cursor: pointer;
  transition: 1s;
}

/* middle */
.middle-img {
  width: 100%;
  height: 65vh;
  background-image: url(./image/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}

.middle-img::before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.wellcom {
  display: inline-block;
  /* width: 600px; */
  text-align: center;
}

.wellcom h3 {
  padding: 0 48px;
  margin: 0;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}

.middle-buttons .btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin: 48px 24px 0 0;
}
.middle-buttons .btn-white:hover {
  background: #fff;
  color: #ff6600;
}

.middle-buttons .btn-orange {
  background: #ff6600;
  color: #fff;
}
.middle-buttons .btn-orange:hover {
  opacity: 0.7;
}
.middle-buttons .btn-orange,
.btn-white {
  display: inline-block;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s;
  border-radius: 8px;
  cursor: pointer;
}
.middle-buttons .span fa {
  font-size: inherit;
}

/* count */
.res .item {
  text-align: center;
  padding: 0 20px;
}

.res .counter {
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res .counter:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-10px);
  transition: 0.7s;
}
.res .icon span {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}

.res .item h3 {
  font-size: 40px;
  font-weight: 600;
  color: #232121;
  margin-top: 20px;
}
.res .item p {
  font-weight: 600;
}

section.w3_stats {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}

@media screen and (max-width: 990px) {
  section.w3_stats {
    position: unset;
  }
  section.w3-stats .container {
    padding-top: 30px;
  }
}

/* ------- hoang css -------- */

/* blog post */

section.Blog {
  background-color: #f7f7f7;
}

section.Blog .title-1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
section.Blog .title-2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 600;
}
section.Blog .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
section.Blog .mt-5 {
  margin-top: 3rem !important;
}
section.Blog .card {
  border: none;
  background-color: transparent;
}
section.Blog .card-body {
  cursor: pointer;
}
section.Blog .card-img img {
  cursor: pointer;
  width: 100%;
  object-position: top;
  border-radius: 10px;
}
section.Blog .card-footer-w3 {
  display: flex;
  cursor: pointer;
  align-items: center;
}
section.Blog .card-footer-w4 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  /* padding-left: 190px; */
}

section.Blog .card-footer-w4 i {
  padding-top: 2px;
  margin: 0 3px;
}

section.Blog .card-footer-w3 a,
.card-footer-w4 a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}
section.Blog .card-footer-w3 img {
  width: 40px;
  height: 50%;
  border-radius: 50%;
}
section.Blog .card-footer-w4:hover > * {
  color: #ff6600;
  transition: 0.5s;
}

/* carousel */
section.testimonials .title-1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

section.testimonials .title-2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 600;
}

.banner__hoang {
  overflow: hidden;
}

.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #35a22c;
}
.carousel-indicators {
  margin-bottom: 3rem;
}

.carousel-item img {
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.carousel-item span.fa.fa-quote-left {
  font-size: 26px;
  display: block;
  color: #ff6600;
  text-align: center;
}
.carousel-item .carousel-text {
  font-size: 25px;
  line-height: 38px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
}
.carousel-inner p {
  font-size: 18px;
  color: rgba(22, 28, 45, 0.6);
  display: block;
  text-align: center;
  /* padding: 0px 430px; */
  max-width: 800px;
}
.carousel-end-1 h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.carousel-end-1 p.carousel-end-2 {
  text-align: center;
  opacity: 0.8s;
  font-size: 18px;
}

.slick-dots li.slick-active button::before {
  color: #ff6600;
  font-size: 16px;
}
.slick-dots li button::before {
  font-size: 16px;
}
.slick-dots ul:hover {
  color: #ff6600;
}
.slick-dots li button:hover::before {
  color: #ff6600;
}

/* start footer */
.footer * {
  color: white;
}

.footer {
  background: black;
  padding: 50px 0px;
}
.footer .row .col-lg-3 p {
  width: 100%;
}
.footer .row-title {
  padding: 20px 0px;
}

.footer .row-title h3 {
  font-size: 24px;
}
.footer .row-content a {
  text-decoration: none;
  font-size: 16px;
  color: #a5a2a1;
  line-height: 25px;
  transition: 0.3s;
}

.row-content a:hover {
  color: #ff6600;
}

.footer #row-content-1 {
  padding-top: 10px;
}
.footer .row-content-2 {
  font-size: 16px;
  color: #a5a2a1;
  line-height: 25px;
}
.footer .row-content p {
  color: #a5a2a1;
  line-height: 25px;
  font-size: 16px;
}
.footer .social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  line-height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 10%;
  margin-right: 8px;
}
.footer .social i {
  color: #ff6600;
}
.footer .social a:hover i {
  color: white;
  transition: 0.3s;
}
.footer .social a:hover {
  background-color: #ff6600;
  transition: 0.3s;
}
.footer #form-1 {
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  width: 100%;
  color: rgba(22, 28, 45, 0.6);
  background: white;
  border-radius: 6px;
  padding: 14px 20px;
}
.footer .btn-primary {
  color: white;
  background-color: #ff6600;
}
.footer .btn-form {
  padding: 14px 20px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: 0.3s;
  background-color: #ff6600;
  border-radius: 5px;
  width: 100%;
}

.footer .form .btn-form:hover {
  background-color: #b24903;
  transition: 0.5s;
  color: rgb(211, 211, 211);
}

/* start copyright */
.copyright {
  padding: 0.5rem 0;
  background: black;
  border-top: 1px solid rgb(225 225 225 /5%);
  display: block;
}

.copyright .bottom-copy p {
  color: #ddd;
}
.copyright .bottom-copy a {
  text-decoration: none;
  color: #ff6600;
}
.copyright .bottom-copy a:hover {
  color: white;
  transition: 0.5s;
}

/* Minh CSS */

/*nut an*/

/* Popup*/
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
           * Fade-zoom animation for first dialog
           */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}
n-relative
        /* animate out */
        .my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/* end html Minh */

/* Minh file css */
/*-- //team --*/
/*--/w3l-videohny --*/
.new-block {
  background: #fff;
}

.w3l-videohny .history-info {
  background: url(./images/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: 6px;
}

.w3l-videohny .history-info:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 6px;
}

.w3l-videohny span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: #ff6600;
  border: transparent;
  color: #fff;
}

.w3l-videohny .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.w3l-videohny span.video-play-icon {
  display: inline-flex;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: #ff6600;
  border: transparent;
  background: #fff;
  justify-content: center;
  align-items: center;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@media all and (max-width: 900px) {
  .w3l-videohny .history-info {
    min-height: 400px;
  }
}

@media all and (max-width: 640px) {
  .w3l-videohny .history-info {
    min-height: 350px;
  }
}

@media all and (max-width: 380px) {
  .w3l-videohny .history-info {
    min-height: 300px;
  }
}

.w3l-error-grid h1 {
  font-weight: 700;
  font-size: 130px;
  color: #232121;
  letter-spacing: 5px;
}

.w3l-error-grid h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #232121;
  font-weight: 600;
}

.w3l-error-grid .form-control {
  color: rgba(22, 28, 45, 0.7);
  padding: 12px 120px 12px 25px;
  font-size: 18px;
  line-height: 28px;
  height: 55px;
  background: #f7f7f7;
  border-radius: 6px;
  display: block;
  font-weight: 500;
}

.error-block {
  max-width: 600px;
  margin: 0 auto;
}

.w3l-error-grid .form-control:focus {
  box-shadow: none;
  border: 1px solid #ff6600;
}

.w3l-error-grid button.btn.search {
  color: #fff;
  background: #ff6600;
  font-size: 18px;
  padding: 0 40px;
  font-weight: 600;
  letter-spacing: 0px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  display: inline-block;
  border-radius: 6px;
}

.w3l-error-grid button.btn.search:hover {
  opacity: 0.8;
}

.w3l-error-grid .form-inline.search-form {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.w3l-error-grid .back-button {
  font-weight: 600;
  display: inline-block;
  font-size: 18px;
  color: #232121;
  letter-spacing: 0;
}

.w3l-error-grid .back-button span.fa {
  font-size: 14px;
  vertical-align: 1px;
}

.w3l-error-grid .back-button:hover {
  color: #ff6600;
}

@media all and (max-width: 992px) {
  .w3l-error-grid h1 {
    font-size: 100px;
  }
}

@media all and (max-width: 568px) {
  .w3l-error-grid h1 {
    font-size: 80px;
  }
}

@media all and (max-width: 415px) {
  .w3l-error-grid h2 {
    font-size: 22px;
  }
}

@media all and (max-width: 384px) {
  .w3l-error-grid button.btn.search {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
}

/* custom darkmode */
.dark-mode-switch {
  background-color: #232220;
}
.dark-mode-switch p {
  color: #c2d0da;
}
.dark-mode-switch h3 {
  color: #eee;
}

input.dark-mode-switch {
  border-radius: 5px;
  background-color: #232121;
  color: #eee;
}

.header__right i.dark-mode-switch {
  color: white;
}

section.Categories.dark-mode-switch {
  background-color: #282828;
}

section.Services.overflow-hidden .dark-mode-switch .box-wrap,
section.Services.overflow-hidden .dark-mode-switch .box-wrap .icon {
  background-color: unset;
}

.w3-stats .item.dark-mode-switch .counter {
  background-color: #282828;
}

.w3-stats .item.dark-mode-switch {
  border-radius: 5px;
  background-color: unset;
}

.w3-stats .item.dark-mode-switch .counter .icon {
  background-color: unset;
}

.w3-stats .item.dark-mode-switch h3 {
  color: white;
}

.w3-stats .item.dark-mode-switch .counter:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 5px 0px;
  transform: translateY(-10px);
  transition: 0.7s;
}

section.Blog.dark-mode-switch {
  background-color: #282828;
}

section.Blog.dark-mode-switch * {
  background-color: #282828;
  color: white;
}

section.Blog.dark-mode-switch .title-1 {
  color: #ff6600;
}
section.Blog.dark-mode-switch .title-2 {
  color: unset;
}

section.Blog.dark-mode-switch a {
  background-color: #282828;
  color: white;
  text-decoration: none;
  padding-left: 6px;
}
section.footer input.dark-mode-switch#form-1 {
  background-color: #232220;
}
